$tab-bg-color: #17334d;

.v-tabs {
  // padding: 0 20px;
  height: 100%;

  /deep/ .ant-tabs {
    color: #fff;
  }

  /deep/ .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    padding: 0 24px;
    background: $tab-bg-color;
    border-color: lighten($color: $tab-bg-color, $amount: 5);
  }

  /deep/ .ant-tabs-bar {
    border-color: lighten($color: $tab-bg-color, $amount: 5);
  }

  /deep/ .ant-tabs .ant-tabs-top-content,
  .ant-tabs .ant-tabs-bottom-content {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: calc(100% - 40px);
  }
}