.v-card {
  .ant-card-head {
    border-bottom-color: rgba(#fff, 0.25);
  }

  .btn-height {
    line-height: 26px;

    &+.btn-height {
      margin-left: 8px;
    }

    &.ant-btn-success {
      background-color: #36a18d;
      border-color: #36a18d;
      color: #fff;

      &:hover {
        background-color: lighten(#36a18d, 10);
      }
    }

    &.ant-btn-disabled,
    &.ant-btn.disabled,
    &.ant-btn[disabled],
    &.ant-btn-disabled:hover,
    &.ant-btn.disabled:hover,
    &.ant-btn[disabled]:hover,
    &.ant-btn-disabled:focus,
    &.ant-btn.disabled:focus,
    &.ant-btn[disabled]:focus,
    &.ant-btn-disabled:active,
    &.ant-btn.disabled:active,
    &.ant-btn[disabled]:active,
    &.ant-btn-disabled.active,
    &.ant-btn.disabled.active,
    &.ant-btn[disabled].active,
    .ant-btn-disabled,
    .ant-btn.disabled,
    .ant-btn[disabled],
    .ant-btn-disabled:hover,
    .ant-btn.disabled:hover,
    .ant-btn[disabled]:hover,
    .ant-btn-disabled:focus,
    .ant-btn.disabled:focus,
    .ant-btn[disabled]:focus,
    .ant-btn-disabled:active,
    .ant-btn.disabled:active,
    .ant-btn[disabled]:active,
    .ant-btn-disabled.active,
    .ant-btn.disabled.active,
    .ant-btn[disabled].active {
      background-color: rgba(0, 0, 0, .4) !important;
      color: #bbb !important;
      border-color: rgba(0, 0, 0, .5) !important;
    }
  }


}

.analysis {
  .ant-popover-inner-content {
    background: #2f3957;
    border: solid 1px #4c5672;
    border-radius: 3px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-box-shadow: 0 5px 5px 0 #0054b8;
    box-shadow: 0 2px 5px 0 #0054b8;
  }

  .ant-popover-placement-bottom>.ant-popover-content>.ant-popover-arrow,
  .ant-popover-placement-bottomLeft>.ant-popover-content>.ant-popover-arrow,
  .ant-popover-placement-bottomRight>.ant-popover-content>.ant-popover-arrow {
    border-left-color: #2f3957 !important;
    border-top-color: #2f3957 !important;
  }

  .ant-popover-arrow {
    border-left-color: #2f3957 !important;
    border-top-color: #2f3957 !important;
  }
}

.no-data {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../../assets/images/no-data.png") no-repeat center;
  background-color: black;
}
.btn-margin-h {
  margin: 0 10px;
}