.tree {
  height: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-menu {
  background: #0d2944;

  .ant-menu-submenu-arrow {

    &::before,
    &::after {
      visibility: hidden;
    }
  }
}